@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&family=Raleway&family=Roboto+Mono:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #27160d;
    color: #fff;
    /* background-image: url('../images/hero-image.jpg'); */
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.hero {
    font-size: 1.5rem;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.paragraph {
    font-family: Raleway, sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    font-family: Raleway, sans-serif;
}