@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&family=Raleway&family=Roboto+Mono:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* HOMEPAGE STYLE RULES*/

/* NavBar style rules */

ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    background-color: #B74803;
}

li {
    float: left;
}

li a {
    font-family: Raleway, sans-serif;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #772f02;
}

/* Heading background section*/
.hero {
    background-color: #27160d;
    color: #fff;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 75px;
}


.hero {
    font-size: 1.5rem;
}

/* Heading */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    text-align: center;
    padding
}

/* Homepage paragraph */
p {
    position: relative;
    font-size: large;
    text-align: justify;
    font-weight: bold;
    line-height: 35px;
}

.paragraph {
    font-family: Raleway, sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Home 'Contact Us' button */

.contact-home-btn {
    width: 10%;
    padding: 1rem 1rem;
    font-family: Raleway, sans-serif;
    font-size: 1.1rem;
    background-color: #B74803;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
}

/* Image slideshow style rules */
.section {
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

/* Slideshow inages */
.st img{
    width: 800px;
    height: 500px;
    padding: 50px 2px;
}

/* Slideshow button elements*/
.nav-m {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn {
    border: 2px solid #B74803;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color: #B74803;
}

#radio1:checked ~.first {
    margin-left: 0;
}

#radio2:checked ~.first {
    margin-left: -20%;
}

#radio3:checked ~.first {
    margin-left: -40%;
}

#radio4:checked ~.first {
    margin-left: -60%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid balck;
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1 {
    background-color: #B74803;
}
#radio2:checked ~ .nav-auto .a-b2 {
    background-color: #B74803;
}
#radio3:checked ~ .nav-auto .a-b3 {
    background-color: #B74803;
}
#radio4:checked ~ .nav-auto .a-b4 {
    background-color: #B74803;
}

/* CONTACT PAGE STYLE RULES */

.contact-page {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    width: 100%;
    height: 100vh;
}

.form {
    padding: 20px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.form:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/contactPageImage.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contact-container {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    height: 100%;
    background: url(../images/contactPageImage.jpg) no-repeat center;
    background-size: cover;
}

.right {
    padding: 25px 40px;
}

h2 {
    font-size: 1rem;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #B74803;
}


.field {
    width: 80%;
    padding: 2rem 2rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
    min-height: 150px;
}

.button {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: black;
    background-color: #B74803;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
}

.button:hover {
    background-color: #772f02;
}

/* CONTACT US PAGE TWO */

#contact-body {
    background: #55ffe5;
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

.container-box {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    color: #fff;
}

h4 {
    margin-bottom: 25px;

}

.container-box p{
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

/* Footer style rules */
footer {
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    background: #B74803;
    height: 50px;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: felx;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/* 'Find us on' footer heading */
h3 {
    text-align: center;
    font-size: small;
    margin: 0 0 3rem 0;
}

/* Social media taga */
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -45px 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: green;
}

.socials a i{
    font-size: 1.1rem;
}

.socials a:hover i{
    color: orange;
}


/* MEDIA QUERIES */

@media screen and (max-width:880px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }

}

@media screen and (max-width:766px) {
    .hero {
        width: 100%;
    }

}

@media screen and (max-width:510px) {
    .hero {
        width: 100%;
    }

}
