@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&family=Raleway&family=Roboto+Mono:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #27160d;
    color: #fff;
    /* background-image: url('../images/hero-image.jpg'); */
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.hero {
    font-size: 1.5rem;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.paragraph {
    font-family: Raleway, sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Image slideshow style rules */
.section {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
    height: 500px;
}

.nav-m {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn {
    border: 2px solid greenyellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color: purple;
}

#radio1:checked ~.first {
    margin-left: 0;
}

#radio2:checked ~.first {
    margin-left: -20%;
}

#radio3:checked ~.first {
    margin-left: -40%;
}

#radio4:checked ~.first {
    margin-left: -60%;
}

/* Footer style rules */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
    height: 100px;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: felx;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: green;
}

.socials a i{
    font-size: 1.1rem;
}

.socials a:hover i{
    color: orange;
}
